/* Reset Overrides  */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.33em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

p {
  display: block;
  margin: 1em 0em;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER STYLING */
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #00CAFB;
  /* margin-bottom: 20px; */
}

.header h1 {
  padding: 30px;
  color: white;
}

/* Form Styling */
.form-container {
  background-color: #9C34FF;
  width: 100%;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 10px;
}

.form label {
  margin: 5px 0;
  color: white;
}

.form input {
  height: 16px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

/* Button Container Styling */
#button-dumpster {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 90%;
}
