/* Reset Overrides  */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.33em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

p {
  display: block;
  margin: 1em 0em;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER STYLING */
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #00CAFB;
  /* margin-bottom: 20px; */
}

.header h1 {
  padding: 30px;
  color: white;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

/* Form Styling */
.form-container {
  background-color: #9C34FF;
  width: 100%;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 10px;
}

.form label {
  margin: 5px 0;
  color: white;
}

#gif-input {
  height: 16px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

#add-gif {
  width: 150px;
  margin-top: 5px;
  border: 0;
  background-color: #00EB8D;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  color: #242666;
  cursor: pointer;
}

#add-gif:hover {
  background-color: #00FF99;
}

/* Button Container Styling */
#button-dumpster {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 30px;
}

#button-dumpster button {
  width: 25%;
  border: 0;
  background-color: #00CAFB;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  margin: 10px;
  cursor: pointer;
}

/* GIF Container Styling */
#gif-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#gif-container div:nth-child(odd) {
  background-color: #FF6565;
}

#gif-container div:nth-child(even) {
  background-color: #F9ED5B;
}

#gif-container div {
  margin: 10px;
  padding: 10px;
}
